<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {# <link rel="stylesheet" href="/css/.css"> #}
    <style>
      {% set css %}
      {% include "../css/tailwind.css" %}
      {% endset %}
      {{ css | postcss | safe }}
      </style>
    <title>technovangelist - {{ title }}</title>
  </head>
  
    {% set currentURL = page.url %}

    <nav class="bg-gray-800 text-white py-3 px-4 flex items-center justify-between">
    <a class="font-bold text-xl tracking-tight" href="/">Technovangelist</a>
    <div class="flex items-center">
        <a class="text-sm px-4 py-2 leading-none rounded-full hover:bg-gray-700 {% if currentURL === '/' %}font-bold text-white{% endif %}" href="/">Home</a>
        <a class="text-sm px-4 py-2 leading-none rounded-full hover:bg-gray-700 {% if ((currentURL.startsWith('/blog')) or (currentURL.startsWith('/posts'))) %}font-bold text-white{% endif %}" href="/blog">Blog</a>
        <a class="text-sm px-4 py-2 leading-none rounded-full hover:bg-gray-700 {% if currentURL.startsWith('/notes')  %}font-bold text-white{% endif %}" href="/notes">Notes</a>
        <a class="text-sm px-4 py-2 leading-none rounded-full hover:bg-gray-700 {% if currentURL.startsWith('/talks') %}font-bold text-white{% endif %}" href="/talks">Talks</a>
    </div>
</nav>

</header>
  <main class="px-4">
    {{ content | safe }}
  </main>
    
</html>