---
layout: base.njk
pagination:
  data: collections.post
  size: 10
  alias: posts
---
{{ content | safe}}

{% for post in posts %}
   <post class="">
    <a href="/posts/{{post.fileSlug}}">{{post.data.title}}</a>

  {{post.data.summary | safe}}
  <br>
  </post>
  {% endfor %}

  {% if pagination.href.previous %}
    <a href="{{ pagination.href.previous }}">Previous</a>
  {% else %}
    Previous
  {% endif %}
{% for pageEntry in pagination.pages %}
  <a href="{{ pagination.hrefs[ loop.index0 ] }}"{% if page.url == pagination.hrefs[ loop.index0 ] %} aria-current="page"{% endif %}>Page {{ loop.index }}</a>
{% endfor %}
{% if pagination.href.next %}
  <a href="{{ pagination.href.next }}">Next</a>
{% else %}
  Next
{% endif %}